{%extends 'templates/app.twig'%}
{% block head %}
<link rel="stylesheet" href= "{{baseUrl}}/resources/css/home.css">
{% endblock %}
{% block content %}
 {% if auth.check %}
 <div id="rabota">
   <label for="kurir">Klikni tuka da rabotis</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
       <input type="submit" name="rabota" value="ok">
         {{ csrf_field() | raw }}
   </form>
 </div>
 <div id="place">
   <label for="grad">Smeni mesto na ziveenje:</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
      <select name="grad">
          <option value="MK">Makegonija</option>
            <option value="SR">Srbija</option>
              <option value="AL">Alabanija</option>
                <option value="BG">Bugarija</option>
                  <option value="GR">Germanija</option>
                    <option value="US">Amerika</option>
                      <option value="IT">Italija</option>
      </select>
       <input type="submit" name="sub" value="oke">
         {{ csrf_field() | raw }}
   </form>
 </div>

 <div id="clan">
   <label for="clan">Sozdadi klan</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
       <input type="text" name="name" placeholder="Name of clan....">
       <input type="text" name="moto" placeholder="Moto of clan...">
       <input type="submit" name="clan" value="GO">
         {{ csrf_field() | raw }}
   </form>
 </div>
 <div id="friend">
   <label for="clan">Dodadi prijatel</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
       <input type="text" name="name" placeholder="Name of player....">
       <input type="submit" name="clan" value="GO">
         {{ csrf_field() | raw }}
   </form>
 </div>
 <div id="shop">
   <label for="clan">Kupi pistol</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
       <input type="number" name="kolicina">
       <input type="submit" name="rabota" value="ok">
         {{ csrf_field() | raw }}
   </form>
 </div>


 {% else %}
   heloo
{% endif %}
  <script type="text/javascript" src="{{baseUrl}}/resources/js/home.js"></script>
{% endblock %}
