{%extends 'templates/app.twig'%}
{% block head %}
<link rel="stylesheet" href= "{{baseUrl}}/resources/css/home.css">
{% endblock %}
{% block content %}
 {% if auth.check %}
 <div class="card-columns">
 <div id="rabota">
   <label for="kurir">Ukradi kola</label>

       <input type="button" name="rabota" value="ok" onclick="status();">
         {{ csrf_field() | raw }}

 </div>
 <div id="place">
   <label for="grad">Smeni mesto na ziveenje:</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
      <select name="grad">
          <option value="MK">Makegonija</option>
            <option value="SR">Srbija</option>
              <option value="AL">Alabanija</option>
                <option value="BG">Bugarija</option>
                  <option value="GR">Germanija</option>
                    <option value="US">Amerika</option>
                      <option value="IT">Italija</option>
      </select>
       <input type="submit" name="sub" value="oke">
         {{ csrf_field() | raw }}
   </form>
 </div>

 <div id="clan">
   <label for="clan">Sozdadi klan</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
       <input type="text" name="name" placeholder="Name of clan....">
       <input type="text" name="moto" placeholder="Moto of clan...">
       <input type="submit" name="clan" value="GO">
         {{ csrf_field() | raw }}
   </form>
 </div>
 <div id="friend">
   <label for="clan">Dodadi prijatel</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
       <input type="text" name="name" placeholder="Name of player....">
       <input type="submit" name="clan" value="GO">
         {{ csrf_field() | raw }}
   </form>
 </div>
 <div id="shop">
   <label for="clan">Kupi pistol</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
       <input type="number" name="kolicina">
       <input type="submit" name="rabota" value="ok">
         {{ csrf_field() | raw }}
   </form>
 </div>
 <div id="bank">
   <label for="clan">Drzavna banka:</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
       <input type="text" name="pari">
       <input type="submit" name="oke" value="add">
       <input type="submit" name="oke" value="odzemi">
         {{ csrf_field() | raw }}
   </form>
 </div>
 <div id="crime">
   <label for="clan">Organiziran kriminal</label>
   <form action="{{path_for('home')}}" method="post" autocomplete="off">
       <input type="text" name="sofer" placeholder="Sofer.....">
       <input type="text" name="hitmen" placeholder="Himen.....">
       <input type="text" name="pari" placeholder="Pari">
       <input type="submit" name="clan" value="GO">
         {{ csrf_field() | raw }}
   </form>
 </div>
 </div>
<script type="text/javascript">
$(document).ready(function(){
  //opp moze dase napravi
  $('#container').on('click','.rabota',function(){
     $('#loading').load("http://localhost/mafija2/resources/views/templates/loading/travel.html",function(){
         $("#loading").fadeIn("slow");
     });
      var id = $(this).parents('.card-body').children('input').val();
       $.get("{{path_for('rabota')}}",{id:id},function(data){
          $('#container').children('.container').html(data);
          time = $('#container').children('.container').children('input').val();
          if(time == 1){
            $("#loading").fadeOut("slow");
          }else{
             countdown(new Date(new Date().getTime() + (time*1000)));
          }
       });

      });
  $('#container').on('click','.crime',function(){
      $('#loading').load("http://localhost/mafija2/resources/views/templates/loading/hand.html",function(){
          $("#loading").fadeIn("slow");
      });
      var id = $(this).parents('.card-body').children('input').val();
       $.get("{{path_for('crime')}}",{id:id},function(data){
          $('#container').children('.container').html(data);
          time = $('#container').children('.container').children('input').val();
          if(time == 1){
            $("#loading").fadeOut("slow");
          }else{
             countdown(new Date(new Date().getTime() + (time*1000)));
          }
       });
      });
  $('#container').on('click','.add',function(){
      var id = $(this).parents('.card-body').children('input').last().val();
      var kolicina = $(this).parents('.card-body').children('input').first().val();
       $.get("{{path_for('drinks-drugs')}}",{id:id,kolicina:kolicina},function(data){
          $('#container').children('.container').html(data);
       });
      });
  $('#container').on('click','.car',function(){
    $('#loading').load("http://localhost/mafija2/resources/views/templates/loading/travel.html",function(){
        $("#loading").fadeIn("slow");
    });
      var id = $(this).parents('.card-body').children('input').val();
       $.get("{{path_for('car')}}",{id:id},function(data){
          $('#container').children('.container').html(data);
          time = $('#container').children('.container').children('input').val();
          if(time == 1){
            $("#loading").fadeOut("slow");
          }else{
             countdown(new Date(new Date().getTime() + (time*1000)));
          }
       });
      });
  $('#container').on('click','.race',function(){
    $('#loading').load("http://localhost/mafija2/resources/views/templates/loading/hand.html",function(){
        $("#loading").fadeIn("slow");
    });
      var id = $(this).parents('.card-body').children('input').val();
       $.get("{{path_for('race')}}",{id:id},function(data){
          $('#container').children('.container').html(data);
          time = $('#container').children('.container').children('input').val();
          if(time == 1){
            $("#loading").fadeOut("slow");
          }else{
             countdown(new Date(new Date().getTime() + (time*1000)));
          }
       });
      });
  $('#container').on('click','.travel',function(){
    $('#loading').load("http://localhost/mafija2/resources/views/templates/loading/travel.html",function(){
        $("#loading").fadeIn("slow");
    });
      var place = $(this).parents('.card-body').children('select').val();
       $.get("{{path_for('travel')}}",{place:place},function(data){
          $('#container').children('.container').html(data);
          time = $('#container').children('.container').children('input').val();
          if(time == 1){
            $("#loading").fadeOut("slow");
          }else{
             countdown(new Date(new Date().getTime() + (time*1000)));
          }
       });
      });
  $('#container').on('click','.bank',function(){
      var title = $(this).parents('.card-body').children('.card-title').text();
      var kolicina = $(this).parents('.card-body').children('input').first().val();
      var operation = $(this).val();
       $.get("{{path_for('bank')}}",{title:title,kolicina:kolicina,operation:operation},function(data){
          $('#container').children('.container').html(data);
       });
      });
});
</script>
 {% else %}
   heloo
{% endif %}
  <script type="text/javascript" src="{{baseUrl}}/resources/js/home.js"></script>
{% endblock %}
