<style media="screen">
@media only screen and (min-width: 600px) {
  .container-fluid .card-columns{
    column-count: 2;
  }
}
.container-fluid .card-columns .card {
  border: none; }
.container-fluid .card-columns .title {
  margin-top: -40px;
  margin-left: 15px;
  text-shadow: 3px 0px 0px black;
  color: white; }
.container-fluid .card-columns .card-body button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.container-fluid .card-columns .card-body .row {
  margin-bottom: 22px; }
  .container-fluid .card-columns .card-body .row .col {
    padding-left: 2px;
    padding-right: 3px;
    margin-bottom: 15px; }
    .container-fluid .card-columns .card-body .row .col svg {
      margin-bottom: -9px;
      margin-right: 3px; }
</style>
<div class="card-navigation">
  <ul class="nav nav-fill">
    <li class="nav-item" id="1">
      <a class="nav-link">{{x[1]}}</a>
    </li>
    <li class="nav-item" id="2">
      <a class="nav-link">{{x[2]}}</a>
    </li>
    <li class="nav-item" id="3">
      <a class="nav-link">{{x[3]}}</a>
    </li>
  </ul>
</div>
<div class='container'></div>
<div class="card-columns" id="first">
  {% for key, item in row1 %}
    <div class="card">
    <img class="card-img-top" src="{{baseUrl}}/resources/img/cars/{{item.id}}.png" alt="Card image cap">
    <h3 class="title">{{item.title}}</h3>
    <div class="card-body">
      <div class="row">
        <div class="col" data-toggle="tooltip" data-placement="right" title="Tooltip on top">
          {%include 'templates/svg/money-bag.svg'%}
          <span>{{item.price}}$</span>
        </div>
        <div class="col">
          {%include 'templates/svg/timer.svg'%}
          <span>{{item.time}}s</span>
        </div>
        <div class="col">
          {%include 'templates/svg/speed.svg'%}
          <span>{{item.speed}}kph</span>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffc107">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
          </svg>
          <span>{{item.energija}}%</span>
        </div>
        <div class="col">
          {%include 'templates/svg/chance.svg'%}
          <span>{{auth.user.inventory.chance(item.type,item.id)}}%</span>
        </div>
        <div class="col">
          {%include 'templates/svg/seat.svg'%}
          <span>{{item.seats}}</span>
        </div>
      </div>
      <button class="btn btn-primary {{x[4]}}">{{x[5]}}</button>
      {% if x[6] %}
        <input type="hidden" value="{{car_id[key]}}">
      {% else %}
        <input type="hidden" value="{{item.id}}">
      {% endif %}
    </div>
    </div>
    {% else %}
     <span style="color:white">Nema uste staveno</span>
  {% endfor %}
</div>
<div class="card-columns" id="second"style="display:none">
  {% for item in row2 %}
  <div class="card">
  <img class="card-img-top" src="{{baseUrl}}/resources/img/cars/{{item.id}}.png" alt="Card image cap">
  <h3 class="title">{{item.title}}</h3>
  <div class="card-body">
    <div class="row">
      <div class="col" data-toggle="tooltip" data-placement="right" title="Tooltip on top">
        {%include 'templates/svg/money-bag.svg'%}
        <span>{{item.price}}$</span>
      </div>
      <div class="col">
        {%include 'templates/svg/timer.svg'%}
        <span>{{item.time}}s</span>
      </div>
      <div class="col">
        {%include 'templates/svg/speed.svg'%}
        <span>{{item.speed}}kph</span>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffc107">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
        </svg>
        <span>{{item.energija}}%</span>
      </div>
      <div class="col">
        {%include 'templates/svg/chance.svg'%}
        <span>{{auth.user.inventory.chance(item.type,item.id)}}%</span>
      </div>
      <div class="col">
        {%include 'templates/svg/seat.svg'%}
        <span>{{item.seats}}</span>
      </div>
    </div>
    <button class="btn btn-primary {{x[4]}}">{{x[5]}}</button>
    {% if x[6] %}
      <input type="hidden" value="{{car_id[key]}}">
    {% else %}
      <input type="hidden" value="{{item.id}}">
    {% endif %}
  </div>
  </div>
  {% else %}
   <span style="color:white">Nema uste staveno</span>
  {% endfor %}
</div>
<div class="card-columns" id="last" style="display:none">
  {% for item in row3 %}
  <div class="card">
  <img class="card-img-top" src="{{baseUrl}}/resources/img/cars/{{item.id}}.png" alt="Card image cap">
  <h3 class="title">{{item.title}}</h3>
  <div class="card-body">
    <div class="row">
      <div class="col" data-toggle="tooltip" data-placement="right" title="Tooltip on top">
        {%include 'templates/svg/money-bag.svg'%}
        <span>{{item.price}}$</span>
      </div>
      <div class="col">
        {%include 'templates/svg/timer.svg'%}
        <span>{{item.time}}s</span>
      </div>
      <div class="col">
        {%include 'templates/svg/speed.svg'%}
        <span>{{item.speed}}kph</span>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffc107">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
        </svg>
        <span>{{item.energija}}%</span>
      </div>
      <div class="col">
        {%include 'templates/svg/chance.svg'%}
        <span>{{auth.user.inventory.chance(item.type,item.id)}}%</span>
      </div>
      <div class="col">
        {%include 'templates/svg/seat.svg'%}
        <span>{{item.seats}}</span>
      </div>
    </div>
    <button class="btn btn-primary {{x[4]}}">{{x[5]}}</button>
    {% if x[6] %}
      <input type="hidden" value="{{car_id[key]}}">
    {% else %}
      <input type="hidden" value="{{item.id}}">
    {% endif %}
  </div>
  </div>
  {% else %}
   <span style="color:white">Nema uste staveno</span>
  {% endfor %}
</div>
