<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <title>Mafija</title>
    <link rel="stylesheet" href="{{baseUrl}}/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{baseUrl}}/resources/css/main.css">
    <link rel="stylesheet" href="{{baseUrl}}/resources/css/chat.css">
    {% block head %} {% endblock %}
  </head>
  <body>
    <script type="text/javascript" src="{{baseUrl}}/resources/js/jquery-3.2.1.js"></script>
    <!-- Cahat proms -->
    <script type="text/javascript" src="{{baseUrl}}/resources/js/rotate.js"></script>
    <link rel="stylesheet" href="{{baseUrl}}/resources/node_modules/simplebar/dist/simplebar.css" />
    <script src="{{baseUrl}}/resources/node_modules/simplebar/dist/simplebar.js"></script>
    <!-- Cahat proms -->
    <link rel="stylesheet" href="{{baseUrl}}/resources/css/navigation.css">
    {%include 'templates/partials/navigation.twig' %}
    <script type="text/javascript" src="{{baseUrl}}/resources/js/navigation.js"> </script>
    <div id="main" class="container-fluid">
    {%include 'templates/partials/flash.twig' %}
    {% block content %} {% endblock %}
    </div>
    <div id="chat-container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{baseUrl}}/resources/js/swipe.js"></script>
    <script src="{{baseUrl}}/resources/js/bootstrap.min.js"></script>
    <script src="{{baseUrl}}/resources/js/main.js"></script>
  </body>
</html>
